/* สีพื้นหลังของ Sidebar */
.MuiDrawer-paper {
  background-color: #ffffff;
  color: black;
}

.custom-sidebar .MuiDrawer-paper{
    background-color: #2c2c2c;
    color: rgb(255, 255, 255);
    height: calc(100vh - 9px);       /* ใช้ calc เพื่อให้Sidebar ไม่ทับ AppBar 64px = ความสูง AppBar ปกติ */
     top: 64px;               /* เว้นพื้นที่ด้านบน */
    bottom: auto;         /* ป้องกันขยายจากล่าง */
    display: flex;
    flex-direction: column; /* เรียง menu จากบนลงล่าง */
    padding: 5px 6px;
    margin-top: -55px;
    
}

/* item menu ปกติ */
.sidebar-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.2s ease;
}

/* hover */
.sidebar-item:hover {
  background-color: rgb(255, 255, 255);
  
}

/* menu ที่ถูกเลือก (active) */
.sidebar-item.active {
  background-color: rgba(145, 143, 143, 0.786);
  border-radius: 8px;
  /* bottom: 60px; */
}
