.topbar-appbar{
    background-color: #2c2c2c !important; /* !important เพื่อ override MUI */
}

.topbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left-title {
  font-weight: bold;
  color: rgb(63, 63, 203);
}

.topbar-center-title {
  flex: 1;
  text-align: center;
}

.topbar-admin-container {
  display: flex;
  align-items: center;
}
